body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    scroll-behavior: smooth;
    
}
 
body.loaded {
    opacity: 1;
    
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
   
}

#loading-screen img {
    width: 500px; /* Adjust the size of your logo */
    height: auto;
    max-width: 100%; 
    margin: 0 auto; /* Center the image horizontally */

}



/*******************************************************************/

nav {
    /*background-color: #06223d;*/
    /*background-image: url("navbar_image.png");*/
    background-color: rgba(52, 109, 161, 0.5);
    text-align: center;
    padding: 30px 0;
    border-bottom: 5px solid #000000;
    background-size: cover;
    height: 1px;
    

}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Add margin as needed */
  top: 60px;
  left: 0px;
  position: absolute; /* Set position to absolute */
  /* Add any other styles you want for the logo */
}



.welcome {
  text-align: center;
  margin-top: 100px; /* Add margin as needed */
  color: #ffffff17; /* Text color */
}


/*******************************************************************/

.homepagevideo {
    width: 100%; /* Adjust the width to cover the entire nav bar */
    height: 500px; /* Maintain the aspect ratio */
    width: autopx;
    object-fit: cover; /* Crop the video */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place the video behind other content */
    filter:blur(1px)
    
    
  }

  










/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
  /* Nav bar */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li:hover > a::before {
    transform: scaleX(1);
    
}


/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.product_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 330px; /* Add some top margin to bring it down */
}


.product_header h1 {
    font-size: 5em; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add some space below the heading */
}

.product_header p {
    font-size: 1em; /* Adjust the font size as needed */
    line-height: 1.4; /* Set the line height for better readability */
}





/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.tool_header{
  text-align: center;
  position: relative;
  bottom: -800px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: #28547c;
  color: #ffffff;
  
}


.product_grid1 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  bottom: -750px;
  width: 1300px;
  justify-content: center;
  padding: 20px; /* Add padding for better spacing */
  margin: 0 auto;
  border: 1px solid #dddcdc;

}


.avl_header{
  text-align: center;
  position: relative;
  bottom: -800px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: #28547c;
  color: #ffffff;
  
}


.product_grid2 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  bottom: -770px;
  width: 1300px;
  justify-content: center;
  padding: 20px; /* Add padding for better spacing */
  margin: 0 auto;
  

}


.obd_header{
  text-align: center;
  position: relative;
  bottom: -820px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: #28547c;
  color: #ffffff;
  
}

.product_grid3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  bottom: -790px;
  width: 1300px;
  justify-content: center;
  padding: 20px; /* Add padding for better spacing */
  margin: 0 auto;
  

}

.wp_header{
  text-align: center;
  position: relative;
  bottom: -840px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: #28547c;
  color: #ffffff;
  
}

.product_grid4 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  bottom: -850px;
  width: 1300px;
  justify-content: center;
  padding: 20px; /* Add padding for better spacing */
  margin: 0 auto;
  

}

.product_grid5 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  bottom: -900px;
  width: 1300px;
  justify-content: center;
  padding: 20px; /* Add padding for better spacing */
  margin: 0 auto;
  

}

.product_grid6 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  bottom: -950px;
  width: 1300px;
  justify-content: center;
  padding: 20px; /* Add padding for better spacing */
  margin: 0 auto;
  
}

.product_container {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc; /* Add a border for better visibility */
  box-sizing: border-box;
  background-color: #e2e2e2;
  margin: 0 15px 30px 15px;
  border-radius: 30px;
  color: #000000;
  transition: 0.5s;

}


.product_image {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 30px;
  transition: 0.5s;
 
}

.product_name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.product_description {
  font-size: 0.9em;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.product_container:hover {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc; /* Add a border for better visibility */
  box-sizing: border-box;
  background-color: #28547c;
  margin: 0 15px 30px 15px;
  border-radius: 30px;
  color: #fff;

}



.product_image:hover {
  max-width: 81%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 30px;
 
}









/*******************************************************************/
/*******************************************************************/
/*FOTTER SETTINGS******************************************************************/

.footer_ {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 1px;
    background-color: #000000;
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1000px;
    background-color: #1b1b1b; /* Adjust the color stops as needed */ /* Specify the border color and thickness */
    
  }
  
  
  
  .footer-columns {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: small;
    max-width: max-content;
  }
  
  .footer-column {
    flex: 1;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    margin-right: 15px;
    
  }
  
  
  
  .footer-column a {
    text-decoration: none;
    position: relative;
    color: #ffffff; /* Change the color as needed */
  }
  
  .footer-column a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px; /* Adjust the thickness of the underline */
    bottom: 0;
    left: 0;
    background-color: #ffffff; /* Change the color as needed */
    transition: width 0.3s ease; /* Smooth transition for width */
  }
  
  .footer-column a:hover::before {
    width: 100%;
  }
  
  .footerlogo{
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: 50px;
  }















