body {
    margin: 0;
    padding: 0;
    font-family: 'Garamond', sans-serif;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
 
body.loaded {
    opacity: 1;
}


/*******************************************************************/

nav {
    /*background-color: #06223d;*/
    background-image: url("navbar_image.png");
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid #000000;
    background-size: cover;
    height: 5px;

}





/*******************************************************************/

.homepagevideo {
    width: 100%; /* Adjust the width to cover the entire nav bar */
    height: 500px; /* Maintain the aspect ratio */
    width: autopx;
    object-fit: cover; /* Crop the video */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place the video behind other content */
    filter:blur(1px)
    
  }

  










/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
  /* Nav bar */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffcc00;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li:hover > a::before {
    transform: scaleX(1);
    
}


/* Dropdown Styles */








/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.sec_one {

    background-color: #27ae60;
    margin-top: 500px;
}







/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

header {
    text-align: center;
    padding: 50px 0;
    color: #fff;
    
}

header h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #000000;
    
}

header h4{
    font-size: medium;
    font-family: 'Garamond', sans-serif;

}