body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    width: 100%;
    scroll-behavior: smooth;
    
}
 
body.loaded {
    opacity: 1;
    
}





/*******************************************************************/

nav {
    /*background-color: #06223d;*/
    /*background-image: url("navbar_image.png");*/
    background-color: rgba(52, 109, 161, 0.5);
    text-align: center;
    padding: 30px 0;
    border-bottom: 5px solid #000000;
    background-size: cover;
    height: 1px;
    

}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Add margin as needed */
  top: 60px;
  left: 0px;
  position: absolute; /* Set position to absolute */
  /* Add any other styles you want for the logo */
}



.welcome {
  text-align: center;
  margin-top: 100px; /* Add margin as needed */
  color: #ffffff17; /* Text color */
}


/*******************************************************************/

.homepagevideo {
    width: 100%; /* Adjust the width to cover the entire nav bar */
    height: 500px; /* Maintain the aspect ratio */
    width: autopx;
    object-fit: cover; /* Crop the video */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place the video behind other content */
    filter:blur(1px)
    
    
  }

  










/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
  /* Nav bar */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li:hover > a::before {
    transform: scaleX(1);
    
}


/*******************************************************************/
/*******************************************************************/
/**newline header*****************************************************************/
.top_announce {
  background-color: rgba(221, 221, 221, 0.7); /* Background color */
  color: #000000; /* Text color */
  padding: 10px; /* Padding around the content */
  text-align: center; /* Center-align the text */
  margin-top: 100px;
  position: absolute;
  z-index: 1;
  width: auto;
}

/* Styling for the top_announce_text paragraph */
.top_announce_text {
  margin: 0; /* Remove default margin to prevent spacing */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  font-family: Arial, Helvetica, sans-serif;
  
}



.geointroductiontext {
  background-color: #ffffff;
  margin-top: 170px;
  
  background-size: 70%;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  color: #000000;
  
  font-size: medium;
  border-radius: 3px;
  position: absolute;
  z-index: 1; /* Set a positive value for z-index */
  text-align: center;
}




/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

/* Add a container to hold both sections */
/* Add a container to hold both sections */
.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically (optional) */
  width: 1500px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 200px;
}


.sec_one,
.sec_two {
  flex: 1; /* Adjust the flex property to control the width of each section */
  margin: 5px; /* Add margin between the sections */
  height: 50px;
  
}

/*******************************************************************/


.sec_one {
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255); /* Set text color to white or a color that contrasts with the video */
    top: 200px;
    height: 800px;
    left: -50px;
    margin-left: 0%;
    margin-right: auto;
    background: linear-gradient(to bottom, #28547c, #001238,  #030303);
    border-bottom: 5px solid #28547c; /* Specify the border color and thickness */
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    
    
  }
  
  

.back1 {
  width: 100%; /* Adjust the width to cover the entire nav bar */
  height: 2000px; /* Maintain the aspect ratio */
  object-fit: cover; /* Crop the video */
  position: absolute;
  left: 0;
  z-index: -1; /* Place the video behind other content */
} 



  .section1content {
    position: relative;
    z-index: 1; /* Place the content above the video */
    text-align: center;
    padding: 50px;
    color: #ffffff;
    top: 390px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  



  .section1content .driverid{
    font-size: 50px; /* Adjust the size as needed */
    font-weight: bold;
    color: rgb(255, 255, 255); /* Adjust the color as needed */
}


.driver_image{
    position: absolute;
    top: 35%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 500px; 
    z-index: 1; /* Place the image on top of the video */
    transition: transform 0.5s ease;
    
   

  }
  .driver_image:hover{
    transform: translate(-50%, -50%) scale(1.1); /* Increase the scale factor as needed */
  }



/*******************************************************************/
.sec_two {
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255); /* Set text color to white or a color that contrasts with the video */
  top: 200px;
  height: 800px;
  right: -50px;
  background: linear-gradient(to right, #e7e7e7, #aaaaaa);
  border-radius: 10%;
  border-bottom: 5px solid #28547c; /* Specify the border color and thickness */
  border-radius: 5%;
  
  
  margin-right: 0;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
}




.section2content {
  position: relative;
  z-index: 1; /* Place the content above the video */
  text-align: center;
  padding: 50px;
  color: #000000;
  top: 400px;
  font-family: Arial, Helvetica, sans-serif;
  
  
}



.section2content .toolid{
  font-size: 50px; /* Adjust the size as needed */
  font-weight: bold;
  color: rgb(0, 0, 0); /* Adjust the color as needed */
}



.tool_image{
  position: absolute;
  top: 35%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 500px; 
  z-index: 1; /* Place the image on top of the video */
  transition: transform 0.5s ease;

}

.tool_image:hover{
  transform: translate(-50%, -50%) scale(1.1);
}




  /* Responsive Styling */
  @media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Display sections in a column on small screens */
        height: 100%;
    }

    .sec_one,
    .sec_two {
        width: 100%; /* Make sections take full width on small screens */
    }

    .driver_image {
        width: 40%; /* Make the image take full width on small screens */
        left: 15%;
    }

    .tool_image{
      width: 40%;
      left: 20%;
    }


    .section1content .driverid {
      font-size: 30px; /* Adjust font size for smaller screens */
      left: 30%;
  }

    .section1content {
        padding: 20px; /* Adjust padding for smaller screens */
        top: 0; /* Adjust the top position for smaller screens */
        font-size: 50%;
        left: 10%;
        font-size: 20%;

    }

   
    

    .section2content {
        padding: 20px; /* Adjust padding for smaller screens */
        top: 0; /* Adjust the top position for smaller screens */
        left: 20%;
        font-size: 20%;
    }

    .section2content .toolid {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}






/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.sec_three {
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255); /* Set text color to white or a color that contrasts with the video */
  background: linear-gradient(to bottom, #000000, #001238,  #28547c);
  top: 200px;
  height: 800px;
  margin-right: 0;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 5px solid #000000; /* Specify the border color and thickness */
  border-radius: 1%;
  
}



.ximages {
  display: flex;
  justify-content: space-between; /* Adjust as needed for different alignment */
  align-items: center; /* Align items vertically in the center */
}

.xthreepoint,
.xthree {
  max-width: 30%; /* Ensure the images don't exceed their natural width */

}

.xthreepoint {
  left: auto;
  transition: transform 0.5s ease;
  
}


.xthree {
  margin-left: auto; /* Push xthree to the right */
  transition: transform 0.5s ease;
}

.xthree:hover {
  transform: scale(1.1);
}

.xthreepoint:hover {
  transform: scale(1.1);
}




.section3content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Place the content above the video */
  text-align: left;
  padding: 50px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  max-width: 400px; /* Set a maximum width for the text */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.sec3_fade-in {
  opacity: 1;
}


.section3content .xdevice{
  font-size: 50px; /* Adjust the size as needed */
  font-weight: bold;
  color: rgb(255, 255, 255); /* Adjust the color as needed */
  max-width: 500px
}



/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.sec_three_two {
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255); /* Set text color to white or a color that contrasts with the video */
  background: linear-gradient(to bottom, #28547c, #001238,  #000000);
  top: 230px;
  height: 800px;
  margin-right: 0;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 5px solid #000000; /* Specify the border color and thickness */
  border-radius: 1%;
  
}



.ximagetwo {
  display: flex;
  justify-content: space-between; /* Adjust as needed for different alignment */
  align-items: center; /* Align items vertically in the center */
  margin-top: -80px;
}

.ximagetwo {
  max-width: 50%; /* Ensure the images don't exceed their natural width */
}

.xthreepoint {
  left: auto;
}




.section3twocontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Place the content above the video */
  text-align: left;
  padding: 50px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  max-width: 400px; /* Set a maximum width for the text */
}


.section3twocontent .xdevicetwo{
  font-size: 50px; /* Adjust the size as needed */
  font-weight: bold;
  color: rgb(255, 255, 255); /* Adjust the color as needed */
  max-width: 500px
}

/* animate the feature after scrolling*/
.section3twocontent .eightyeightfeat{
  right: auto;
}


/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.sec_three_three{
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255); /* Set text color to white or a color that contrasts with the video */
  background: linear-gradient(to bottom, #000000, #001238,  #28547c);
  top: 250px;
  height: 800px;
  width: 100%;
  margin-right: 0;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 5px solid #000000; /* Specify the border color and thickness */
  border-radius: 1%;

}

.sec_three_three h4{
  font-size: 200px;
  text-align: center;

}



/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.sec_three_four{
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255); /* Set text color to white or a color that contrasts with the video */
  background: linear-gradient(to top, #000000, #001238,  #28547c);
  top: 270px;
  height: 800px;
  margin-right: 0;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 5px solid #000000; /* Specify the border color and thickness */
  border-radius: 1%;

}

.sec_three_four h4{
  font-size: 200px;
  text-align: center;

}





/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.sec_four {
  position: relative;
  overflow: hidden;
  color: #000000; /* Set text color to white or a color that contrasts with the video */
  background: linear-gradient(to bottom, #ffffff, #ffffff,  #ececec);
  top: 280px;
  height: 600px;
  width: 950px;
  margin-right: auto;
  margin-left: 0%;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 5px solid #28547c; /* Specify the border color and thickness */
  border-radius: 1%;
  
}


.avl {
  margin-bottom: 50px; /* Adjust the margin to create space between the image and text */
}

.avlimage {
  width: 100%; /* Ensure the image takes the full width of its container */
  max-width: 700px; /* Adjust the maximum width for the image to your desired size */
  display: block;
  height: auto; /* Maintain the aspect ratio */
}

.section4content {
  position: absolute;
  top: 30%;
  right: 5%;
  color: #000000;
  max-width: 200px; /* Set a maximum width for the text */
  text-align: left;
}

.sixdevice {
  font-size: 50px;
  margin-bottom: 8px;
  position: absolute;
  top: -50%;
  right: 320%;
}




/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.sec_five {
  position: relative;
  overflow: hidden;
  color: #000000; /* Set text color to white or a color that contrasts with the video */
  background: linear-gradient(to right, #000000, #28547c);
  top: -325px;
  height: 600px;
  width: 950px;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 5px solid #28547c; /* Specify the border color and thickness */
  border-radius: 1%;
 
}


.onewire {
  margin-bottom: 50px; /* Adjust the margin to create space between the image and text */
}

.onewire68image {
  width: 100%; /* Ensure the image takes the full width of its container */
  max-width: 700px; /* Adjust the maximum width for the image to your desired size */
  display: block;
  height: auto; /* Maintain the aspect ratio */
}

.section5content {
  position: absolute;
  top: 15%;
  right: 5%;
  color: #ffffff;
  max-width: 200px; /* Set a maximum width for the text */
  text-align: left;
}

.onewireheading {
  font-size: 50px;
  margin-bottom: 8px;
  position: absolute;
  top: -15%;
  right: 290%;
}

/* Media query for responsivenes for sec 4 and 5 */
@media (max-width: 768px) {

  .sec_four,
  .sec_five {
      width: 50%; /* Make sections take full width on small screens */
    }



  .section4content,
  .section5content {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    font-size: small;
  }

  .avlimage,
  .onewire68image {
    width: 50%;
    max-width: none;
  }

  .sixdevice,
  .onewireheading {
    top: auto;
    right: auto;
    font-size: medium;
  }
}

/*******************************************************************/
/*******************************************************************/
/***78W****************************************************************/

.sec_six {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #000000;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -300px;
  background: linear-gradient(to right, #28547c, #020202); /* Specify the border color and thickness */
  border-radius: 1%;
}



.wclass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%; /* Adjust as needed */
}

.wimage{
  max-width: 100%;
  height: auto;
}

.section6content {
  flex-basis: 50%; /* Adjust as needed */
  padding: 20px;
  text-align: left;
  max-width: 800px;
  color: #fff;
}

.wdevice {
  color: #ffffff; /* Adjust as needed */
  font-size: large;
  font-size: 50px;
}

/*******************************************************************/
/*******************************************************************/
/*79******************************************************************/
.sec_seven {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #000000;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  background: linear-gradient(to right, #000000, #28547c); /* Specify the border color and thickness */
  border-radius: 1%;
}

.seventydiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%; /* Adjust as needed */
}

.seventy_image{
  max-width: 45%;
  height: auto;
}

.seventyname{
  font-size: 50px;
}

.section7content{
  flex-basis: 50%; /* Adjust as needed */
  padding: 20px;
  text-align: left;
  max-width: 700px;
  color: #fff;
}

/*******************************************************************/
/*******************************************************************/
/**slideshow for harnesses*****************************************************************/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 500px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  background: linear-gradient(to right, #e7e7e7, #f3f3f3); /* Specify the border color and thickness */
  border-radius: 10px;
}


/* Hide elements with the .my-slides class */
.my-slides {
  display: none;
 
}

/* Set vertical alignment for images */
.image-align-middle {
  vertical-align: middle;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(40, 84, 124, 1); /* Assuming alpha is 1 (fully opaque) */
}

/* Caption text */
.harness_text {
  color: #000000;
  font-size: larger;
  padding: 8px 12px;
  position: absolute;
  bottom: -150px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}












/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/* button design*******************************************************************/
.homebutton{
  font-size: large;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  color: #000000;
  background: rgba(219, 219, 219, 0.5);
  border: none; /* Remove border for a cleaner look */
  transition: background-color 0.8s ease; /* Add a smooth transition effect */
}

.homebutton:hover {
  background-color: #28547c;
  color: #fff;
}

/*******************************************************************/
/*******************************************************************/
/*******************************************************************/





header {
    text-align: center;
    padding: 50px 0;
    color: #fff;
    
}


header h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #000000;
    
}

header h4{
    font-size: medium;
    font-family: 'Garamond', sans-serif;

}




/*******************************************************************/
/*******************************************************************/
/*FOTTER SETTINGS******************************************************************/

.footer_ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  background-color: #000000;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 200px;
  background: linear-gradient(to right, #1b1b1b, #292929, #1d1d1d); /* Adjust the color stops as needed */ /* Specify the border color and thickness */
  
}



.footer-columns {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: small;
  max-width: max-content;
}

.footer-column {
  flex: 1;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  margin-right: 15px;
  
}



.footer-column a {
  text-decoration: none;
  position: relative;
  color: #ffffff; /* Change the color as needed */
}

.footer-column a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Change the color as needed */
  transition: width 0.3s ease; /* Smooth transition for width */
}

.footer-column a:hover::before {
  width: 100%;
}

.footerlogo{
  height: 100px;
  width: 100px;
  position: relative;
  margin-left: 50px;
}